.image {
    width: 70%;
    border-radius: 30%;
    filter:  drop-shadow(2px 0px 40px #0ef);
}
.image2 {
    width: 70%;
    border-radius: 20%;
    filter:  drop-shadow(1px 0px 10px rgb(255, 196, 0));
}

#loadingMessage {
    display: none;
}

.mailIcon{
    top: 25%;
    right: 5%;
    font-size: 200%;
    font-weight: 600;
    z-index: 100;
    color: rgb(252, 62, 24);
}
  
@keyframes waving {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.hand {
    display: inline-block;
    animation: waving 2s infinite;
    color: yellow;
    font-size: 40px;
}

.nav {
    width: 45%;
    background-color: rgb(255 255 255);
    border-radius: 10px;
    border: 5px solid transparent;
}

.about{
    font-size: 18px;
}

.viewer{
    font-size: 30px;
    font-weight: 700;
}

.nav-item {
    margin-right: 2%;
}

.nav-link {
    position: relative;
    color: black !important;
    font-weight: 600 !important;
    text-decoration: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px; 
    background-color: blueviolet; 
    transition: width 0.3s ease; 
}

.nav-link:hover::after {
    width: 100%;
    
}

.nav-link:hover {
    color: #007bff!important;
    
}
.nav-link.active {
    color: rgb(187, 37, 82) !important;
} 
.toggleicon {
    font-size: 25px !important;
    float: right;
    border-radius: 100%;
    padding: 10px;
    position: fixed;
    bottom: 8%;
    right: 20px;

}

.toggleicon:hover {
    transform: scale(1.2);
}

/* .myName {
    font-size: 30px;
    font-weight: 900;
    text-shadow: 3px 2px 5px #ee99bed4;
} */

.myName {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    background: rgb(9,117,121);
    background: linear-gradient(120deg, rgba(9,117,121,1) 9%, rgba(236,255,0,1) 41%, rgb(252, 3, 107) 100%,rgb(252, 235, 3) 100%);
    background-clip: text;
    color: transparent;
    background-size: 500px 500px;
    animation:arun 3s ease infinite;
    filter: drop-shadow(4px 7px 1px black);
}

@keyframes arun {
    0%{
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0%;
    }
    
}

.myDetails {
    font-size: 19px;
}


.nameData {
    font-size: 2.9rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.typed-cursor {
    font-size: 2.5rem;
}


/* loding Animation */

.loader{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
margin: 0;
padding: 0;
display: flex;
}

.loader li{
    list-style: none;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    animation: glow 1.6s ease-in-out infinite;
}

@keyframes glow{
    0%,40%,100%{
        transform: scale(0.2);
    }
    20%{
        transform: scale(1);
    }
}

.loader li:nth-child(1){
    animation-delay: -1.4s;
    background: #fff000;
    box-shadow: 0 0 50pc #fff000;
}

.loader li:nth-child(2){
    animation-delay: -1.2s;
    background: #f06292;
    box-shadow: 0 0 50pc #f06292;
}

.loader li:nth-child(3){
    animation-delay: -1s;
    background: #4fc3f7;
    box-shadow: 0 0 50pc #4fc3f7;
}

.loader li:nth-child(4){
    animation-delay: -0.8s;
    background: #f57c00;
    box-shadow: 0 0 50pc #f57c00;
}

.loader li:nth-child(5){
    animation-delay: -0.6s;
    background: #673ab7;
    box-shadow: 0 0 50pc #673ab7;
}

.loader li:nth-child(6){
    animation-delay: -0.4s;
    background: #fff000;
    box-shadow: 0 0 50pc #fff000;
}

.loader li:nth-child(7){
    animation-delay: -0.2s;
    background: #ba68c8;
    box-shadow: 0 0 50pc #ba68c8;
}

/* loding Animation ends */

.icons {
    font-size: 25px !important;
    /* float: right; */
    border-radius: 100%;
    padding: 10px;
    position: static;
    /* border: 1px solid white; */
    margin-left: 20px;
    margin-right: 20px;
}

.icons:hover {
    transform: scale(1.2);
}

.sectionHead {
    margin-top: 7% !important;

}

.skillSection {
    margin-left: 24%;
}

.skillName {
    margin-left: 1%;
    margin-right: 2%;

}

.experienceDetails {
    margin-left: 25%;
}

.techSkills {
    display: flex;
    margin-left: 23%;
}

.techSkills2 {
    display: flex;
    margin-left: 30%;
}


.contact-form {
    max-width: 400px;
    margin: 10px auto;
}

.form-floating {
    margin-bottom: 20px;
}

.form-floating input,
.form-floating textarea {
    height: 50px;
}

.form-floating label {
    padding: 10px;
    color: #495057;
}

.alertDiv {
    width: 65%;
}

.alertIcon {
    color: red;
    font-size: 50px;
}

@keyframes flipAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }
}

.tickMark {
    animation: flipAnimation 4s linear infinite;
    font-size: 25px;
    display: inline-block;
}

.tickMark {
    font-size: 25px;
    font-weight: bold;
}

.sendButton {
    margin-left: 38%;
}

.jobCard {
    border: 2px solid white;
    padding: 10%;
    padding: 2%;
    margin-left: 17%;
    box-shadow: 0px 1px 40px cyan;
}
.jobCard:hover {
    box-shadow: 0px 1px 40px rgb(187, 255, 0);
    transform: scale(1.2)!important;
}
.jobDetails {
    display: flex;
}


/* ------------------------------------------------------- */

/* For Mobile Edition start */

@media only screen and (max-width: 767px) {
    .nameData {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        font-weight: 600;
    }
    
    .typed-cursor {
        font-size: 2.0rem;
    }

    .jobCard:hover {
        box-shadow: 0px 1px 40px rgb(187, 255, 0);
        transform: scale(1)!important;
    }
    .nav {
        width: 100%;
    }

    .myName {
        font-size: 50px;
    }

    .icons {
        margin-left: 7px;
        margin-right: 15px;
    }

    .sectionName {
        padding: 1%;
        border-left: 60px solid transparent !important;
        border-right: 60px solid transparent !important;
    }

    .skillName {
        margin-bottom: 2%;
    }

    .skillSection {
        margin-left: 0%;
    }

    .experienceDetails {
        margin-left: 0%;
    }

    .tickMark {
        font-size: 30px;

    }

    .techSkills {
        display: inline;
        margin-left: 0%;
    }

    .techSkills2 {
        display: inline;
        margin-left: 0%;
    }


    .nav-item {
        margin-right: 0%;
        font-size: 13px;
    }

    .jobCard {
        margin-top: 10%;
        padding: 10%;
        margin-left: 0%;
    }

    .jobDetails {
        display: block;
    }

    .alertDiv {
        width: 100%;
    }

    .alertIcon {
        font-size: 100px;
    }
}


/* ----------------------------------------------------------------------- */
/* For Theme Mode Content start */

body.darkMode {
    background-color: rgba(0, 0, 0);
    background-image: linear-gradient(to right, rgba(78, 1, 94, 0.5), rgba(23, 119, 245, 0.2), rgba(199, 224, 12, 0.2));
    color: white;
}

body.lightMode {
    background-image: linear-gradient(to right, rgba(78, 1, 94, 0.2), rgba(23, 119, 245, 0.2), rgb(238, 177, 8, 0.1));
    color: black;
}


body.darkMode a.iconLink {
    text-decoration: none;
    color: white;
}

body.lightMode a.iconLink {
    text-decoration: none;
    color: black;
}


body.darkMode .icons {
    border: 2px solid white;

}

body.lightMode .icons {
    border: 2px solid black;

}


body.darkMode .icons:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 7px 46px white!important;

}

body.lightMode .icons:hover {
    background-color: black;
    color: white;
    box-shadow: 2px 7px 46px rgb(255, 0, 170)!important;
}

body.darkMode .toggleicon {
    background-color: white;
    color: black;

}

body.lightMode .toggleicon {
    background-color: black;
    color: white;


}

body.darkMode .sectionName {
    border: 3px solid rgb(251, 248, 248);
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    display: inline-block;
    padding: 3%;

}

body.lightMode .sectionName {
    border: 3px solid rgb(11 166 152);
    border-left: 120px solid transparent;
    border-right: 120px solid transparent;
    display: inline-block;
    padding: 3%;

}

body.darkMode .skillName {
    border: 2px solid rgba(255, 193, 7, 1);
    

}
body.darkMode .skillName:hover {
    box-shadow: 0 7px 50px rgb(3, 178, 247);
    transform: scale(1.2)!important;
    cursor: pointer;
}

body.lightMode .skillName {
    border: 2px solid rgb(245, 3, 253, 0.3);

}
body.lightMode .skillName:hover {
    box-shadow: 0 7px 50px rgb(0 230 253);
    transform: scale(1.2)!important;
    cursor: pointer;
}

body.darkMode .sendButton {
    border: 2px solid #0dcaf0;
    color: white;

}

body.darkMode .sendButton:hover {
    background-color: #0dcaf0;
    color: black;

}

body.lightMode .sendButton {
    border: 2px solid rgb(253 165 3);
    color: black;
}

body.lightMode .sendButton:hover {
    background-color: rgb(253 165 3);
    color: white;
}